<script src="Scripts.js"></script>
<div class="col-xs-6 col-sm-4 input_box">
    <div id="inputs">
        <input type="text" class="form-control number-input" placeholder="n"/>
    </div>
    <br />
    <button id="rm" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    <button id="add" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <br />
    <br />

    <button id="doneMedia" class="btn btn-info btn-sm">Media</button>
    <button id="doneMediana" class="btn btn-info btn-sm">Mediana</button>
    <button id="doneVarianza" class="btn btn-info btn-sm">Varianza</button>
    <button id="doneDesviacion" class="btn btn-info btn-sm">Desviación</button>

    <br />
</div>
<div class="col-xs-6 col-sm-4 response_box"></div>
<div class="col-xs-6 col-sm-4"></div>
