<script src="js/cap2.js"></script>
<div class="col-xs-6 col-sm-4 input_box">


    <input type="text" class="form-control" id="n-input" placeholder="n"/>
    <input type="text" class="form-control " id="r-input" placeholder="r"/>

    <br />
    <button id="nPr" class="btn btn-info btn-sm">(Perm)nPr</button>
    <button id="nCr" class="btn btn-info btn-sm">(Comb)nCr=(n  r)</button>
    <hr />

    <div id="inputs">
        <input type="txt" class="form-control number-input" placeholder="n" />
    </div>

    <button id="rm" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    <button id="add" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

    <br />
    <button id="pnk" class="btn btn-info btn-sm">n!/n1!...nk!</button>
    <br />
    <hr />
    <h3>Evento</h3>
    <input type="text" class="form-control" id="n-input" placeholder="n"/>
    <input type="text" class="form-control " id="r-input" placeholder="r"/>

    <br />
    <button id="nPr" class="btn btn-info btn-sm">(Perm)nPr</button>
    <button id="nCr" class="btn btn-info btn-sm">(Comb)nCr=(n  r)</button>
    <hr />
    <br />
</div>
<div class="col-xs-6 col-sm-4 response_box"></div>
<div class="col-xs-6 col-sm-4"></div>
